.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.headline__main {
    font-weight: 700;
    font-size: 1.4375rem;
}

.headline__sub{
    font-weight: 600;
    font-size: 1rem;
}

@media screen and (min-width: 420px), print {
    .headline {
        gap: 26px;
    }

    .headline__main {
        font-size: 1.75rem;
    }
    
    .headline__sub{
        font-size: 1.125rem;
    }
}

@media screen and (min-width: 640px), print {
    .headline__main {
        font-size: 2.5625rem;
    }
}

@media screen and (min-width: 768px), print {
    .headline {
        gap: 32px;
    }

    .headline__main {
        font-size: 2.875rem;
    }

    .headline__sub{
        font-size: 1.25rem;
    }
}