

.openbtn {
    position: relative; /*ボタン内側の基点となるためrelativeを指定*/
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

/*ボタン内側*/
.openbtn span {
    display: inline-block;
    transition: all .4s; /*アニメーションの設定*/
    position: absolute;
    width: 30px;
    height: 5px;
    background: #fff;
}

.openbtn span:nth-of-type(1) {
    top: 3px;
    left: 0;
}

.openbtn span:nth-of-type(2) {
    top: 13px;
    left: 0;
}

.openbtn span:nth-of-type(3) {
    top: 23px;
    left: 0;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn.active span:nth-of-type(1) {
    top: 7px;
    left: 0px;
    transform: translateY(6px) rotate(-45deg);
    width: 100%;
}

.openbtn.active span:nth-of-type(2) {
    opacity: 0;
    /*真ん中の線は透過*/
}

.openbtn.active span:nth-of-type(3) {
    top: 19px;
    left: 0px;
    transform: translateY(-6px) rotate(45deg);
    width: 100%;
}