$skills__item-gap: 20px;

.skills__list {
    display: flex;
    flex-wrap: wrap;
    gap: $skills__item-gap;
}

.skills__item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 8px;
    align-items: center;
    width: calc(50% - $skills__item-gap);
    padding: 17px;
    color: $skills__item-color;
    background-color: $acc_gray;
    border-radius: 9999px;
    overflow: hidden;
}


.skills__image{
    flex-shrink: 0;

   & img {
       width: 38px;
       height: 38px;
   }
}

@media screen and (min-width: 768px), print {
    .skills__item {
        width: calc(25% - $skills__item-gap);
    }
}