@import 'variable';


@import 'header';
@import 'js-openbtn';
@import 'logo';

body {
    font-family: "Noto Sans JP", sans-serif;
}

ul {
    list-style-type: none;
}
img{
    // display: block;
    max-width: 100%;
}